.markdownEditor {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.editorArea {
  margin-right: 8px;
}

.editorArea {
  margin-right: 8px;
}

.previewerArea {
  padding-left: 8px;
}